name: Branches

on:
  push:
    branches-ignore: ['main']

env:
  FORCE_COLOR: 1
  TURBO_TEAM: monorepo_rocks
  TURBO_API: https://turbo.uuid.rocks
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_REMOTE_CACHE_SIGNATURE_KEY: ${{ secrets.TURBO_REMOTE_CACHE_SIGNATURE_KEY }}
  TURBO_LOG_ORDER: grouped

jobs:
  check:
    name: Check
    runs-on: blacksmith-4vcpu-ubuntu-2204
    timeout-minutes: 10
    concurrency: ${{ github.workflow }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: useblacksmith/setup-node@v5
        with:
          node-version: lts/*
          check-latest: false
      - name: Mount PNPM Cache
        uses: useblacksmith/stickydisk@v1
        with:
          key: ${{ github.repository }}-pnpm-store
          path: ~/.pnpm-store
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile --child-concurrency=10
      - name: Check
        run: pnpm check:ci
      - name: Test
        run: pnpm test:ci
