name: Release

on:
  push:
    branches: ['main']

env:
  FORCE_COLOR: 1
  TURBO_TEAM: monorepo_rocks
  TURBO_API: https://turbo.uuid.rocks
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_REMOTE_CACHE_SIGNATURE_KEY: ${{ secrets.TURBO_REMOTE_CACHE_SIGNATURE_KEY }}
  TURBO_LOG_ORDER: grouped

jobs:
  test-and-deploy:
    name: Test and Deploy
    runs-on: blacksmith-4vcpu-ubuntu-2204
    timeout-minutes: 10
    concurrency: ${{ github.workflow }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: useblacksmith/setup-node@v5
        with:
          node-version: lts/*
          cache: 'pnpm'
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile --child-concurrency=10
      - name: Check
        run: pnpm check:ci
      - name: Test
        run: pnpm test:ci
      - name: Deploy
        run: pnpm turbo deploy
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

  create-release-pr:
    name: Create Release PR or Publish to NPM
    runs-on: blacksmith-4vcpu-ubuntu-2204
    timeout-minutes: 5
    concurrency: ${{ github.workflow }}-create-release-pr
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: useblacksmith/setup-node@v5
        with:
          node-version: lts/*
          cache: 'pnpm'
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile --child-concurrency=10 --filter .
      - name: Create Release PR or Publish to NPM
        uses: changesets/action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
